@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

:root {
  --ac-primary: #CD5322;
  --ac-secondary: #F79236;
  --bg-primary: #111111;
  --bg-secondary: #EBEBEB;
  --ac-neutral: #373737;
  --transition-speed: 200ms ease-in-out;
}

body {
  background-color: #111111;
  background-image: url(assets/img/background-muuu.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--bg-secondary);
}

* {
  font-family: 'Changa One', cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: var(--transition-speed);
}

main {
  min-height: 50vh;
}

/* Navbar */

.navbar {
  z-index: 99;
  position: fixed;
  width: 90%;
  height: 5rem;
  margin: auto;
  padding: 0 2rem;
  top: 25px;
  bottom: auto;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  letter-spacing: 2px;
}

.navbar .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 800;
  gap: 2rem;
  text-transform: uppercase;
}

.navbar .logo-wrapper img {
  height: 3rem;
  vertical-align: bottom;
}

.navbar .nav-link a {
  text-decoration: none;
  color: var(--bg-secondary);
}

.navbar .nav-link a:last-child {
  color: var(--bg-primary);
  background-color: var(--ac-primary);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

.navbar .nav-link a:hover {
  color: var(--ac-secondary);
}

.navbar .nav-link a:last-child:hover {
  background-color: var(--bg-primary);
}

@media (max-width: 1000px) {
  .navbar .nav-link {
    display: none;
  }
  .navbar {
    padding: 0;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    gap: 1rem;
    border-radius: 1rem;
  }
  .navbar .logo-wrapper {
    padding: 1rem 2rem;
  }
  .navbar .logo-wrapper img {
    height: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .navbar .nav-dropdown {
    display: none;
  }
}

.navbar .nav-dropdown .nav-button {
  border: none;
  background-color: inherit;
  height: 3rem;
  width: 3rem;
  background-image: url(assets/icons/menu.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.navbar .nav-dropdown .nav-button-active {
  background-image: url(assets/icons/close.svg);
  background-color: var(--ac-primary);
}

.navbar .nav-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 6rem;
  overflow: auto;
  z-index: 100;
  background-color: var(--bg-secondary);
  padding: 2rem;
  margin: auto 2rem;
  border-radius: 1rem;
}

.navbar .nav-dropdown .dropdown-menu a {
  color: var(--bg-primary);
}

.navbar .nav-dropdown .dropdown-menu-show {
  display: flex;
  flex-direction: column;
}

/* /Navbar */

/* Main */

main {
  margin-top: 130px;
}

@media (max-width: 1000px) {
  main {
    margin-top: 105px;
  }
}

.content-active {
  filter: brightness(0.2);
}

/* /Main */

/* Hero Section */

.hero-section {
  padding: 10rem 0;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

.hero-section h1 {
  font-size: 6rem;
  padding-bottom: 2rem;
  line-height: 0.9;
  mix-blend-mode: color;
}

.hero-section a {
  text-decoration: none;
  color: var(--bg-primary);
  background-color: var(--ac-primary);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 800;
  mix-blend-mode: color;
}

.hero-section a:hover {
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
}

@media (max-width: 1000px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }
  .hero-section {
    padding: 7rem 0;
  }
}

/* /Hero Section */

/* Articles Section */

.articles-section {
  margin: 5rem auto;
  margin-bottom: 5rem;
}

.articles-section header {
  width: 90%;
  margin: 1rem auto;
  padding-left: 1rem;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .articles-section header {
    font-size: 0.7rem;
  }
}

.articles-section .band {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media (min-width: 30em) {
  .articles-section .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .articles-section .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.articles-section .card {
  background: var(--ac-neutral);
  text-decoration: none;
  color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  border-radius: 1rem;
  mix-blend-mode: color;
}

.articles-section .card:hover {
  top: -10px;
}

.articles-section .card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles-section .card h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: var(--ac-secondary);
}

.articles-section .card p {
  flex: 1;
  line-height: 1.4;
}

.articles-section .card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.articles-section .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (min-width: 60em) {
  .articles-section .item-1 {
    grid-column: 1/span 2;
  }
  .articles-section .item-1 h1 {
    font-size: 24px;
  }
}

/* /Articles Section */

/* Footer */

footer {
  width: 100%;
}

footer .footer-container {
  margin: auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer .footer-container .logo-container img {
  height: 4rem;
}

footer .footer-container .text-container {
  display: flex;
  flex-direction: row;
}

footer .footer-container .text-container h3 {
  color: var(--ac-primary);
  font-size: 1.3rem;
}

footer .footer-container .text-container a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  font-size: 1.2rem;
}

footer .footer-container .text-container a:hover {
  opacity: 0.5;
}

footer .footer-container .text-container .text-column {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  height: 100%;
  text-align: center;
}

@media (max-width: 1000px) {
  footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-container .text-container {
    flex-direction: column;
  }
  footer .footer-container .text-container .text-column {
    margin-top: 5rem;
    text-align: center;
  }
}

/* /Footer */

/* About Us Page */

.team-container {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 90%;
  border-radius: 10px;
}

.team-container  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
  }
  
.team-container  .card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
.team-container .card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
.team-container .card p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #666;
  }

/* /About Us Page */

/* Projects Page */

/* /Projects Page */

/* Contact Us Page */

/* /Contact Us Page */

/* Noise Generator */

.noise {
  z-index: 999;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://lorenzofiori.art/assets/img/logo/noise.png') repeat 0 0;
  background-repeat: repeat;
  animation: noise-animation .2s infinite;
  visibility: visible;
  opacity: 0.15;
  pointer-events: none;
  overflow: hidden;
}

@keyframes noise-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@media (hover:none) {
  .noise {
      display: none;
  }
}

/* Noise Generator */